*{
    margin: 0px;
    font-family: 'Bellefair', serif;
}

:root{
    --navBarColor: rgba(20,44,83,.5);
    --goldenLine: rgb(153,108,64);
    --textWhiteB: rgba(241,241,241,255);
    --footerColor: rgb(20,44,83);
}

/*----------------------------------------HEADER----------------------------------------*/

.backVideoHeader{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

header{
    height: 100vh;
    width: 100%;
    position: relative;
    color: var(--textWhiteB);
    background-color: rgba(0,0,0,.3);
}

nav{
    display: flex;
    align-items: center;
    height: 10vh;
    margin-bottom: 5vh;
    background-color: var(--navBarColor);
    border-bottom: 2px solid var(--goldenLine);
    font-weight: 100;
}

.navMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2.5vw;
}

nav ul{
    display: flex;
    align-items: center;
    margin-left: 5vw;
    list-style: none;
}

nav ul li{
    flex-grow: 1;
    text-decoration: none;
    margin-left: 2vw;
    padding-right: 2vw;
}

.mainTitleContainer{
    position: absolute;
    left: 17vw;
    top: 35vh;    
}

.nameTitle{
    color: white;
    display: flex;
    align-items: center
}

.nameTitle h2{
    font-size: 7.5rem;
}

.nameTitle img{
    height: 28vh;
}

.epigraph{
    position: relative;
    display: flex;
    align-items: center;
    top: -10vh;
}

.epigraph h3{
    font-size: 1.5rem;
}

.epigraph img{
    height: 8vh;
    transform: scaleX(-1);
}

/*----------------------------------------BODY----------------------------------------*/

main .section{
    height: 100vh;
    border-bottom: 2px solid var(--goldenLine);
    font-family: 'Bellefair', serif;
    font-weight: 300;
}

.subSection{
    height: 50vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.85) ), url(./img/pexels-antonio-cuellar-4366062.jpg);
    background-size: cover;
    background-position: center;
}

/*------------------SUBSECTION Contact Us------------------*/

.contactUs{
    background: linear-gradient( rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85) ), url(./img/pexels-antonio-cuellar-4366062.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--textWhiteB);
}

.contactUs h3{
    text-align: center;
    width: 40vw;
    font-size: 3.5rem;
    padding-bottom: 20px;

}

.contactButton {
    display: inline-block;
    border-radius: 4px;
    background-color: var(--textWhiteB);
    border: none;
    color: var(--footerColor);
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 210px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.contactButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.contactButton span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

.contactButton:hover span {
    padding-right: 15px;
}

.contactButton:hover span:after {
    opacity: 1;
    right: 0;
}

/*------------------SECTION Why You Should------------------*/

.whyYouShould{
    background: linear-gradient( rgba(255, 255, 255, 0.81), rgba(255, 255, 255, 0.81) ), url(./img/palmeras.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0vh 10vw;
}

.whyYouShould h3{
    width: 75vw;
    text-align: center;
    font-size: 3.5rem;
    padding-top: 10vh;
    margin-bottom: 20px;
}

.textWYS{
    width: 60vw;
    padding: 10vh 0vw;
    border-bottom: 2px solid var(--goldenLine);
    line-height: 30px;
}

.whyYouShould p{
    text-align: center;
    font-size: 1.5rem;
}

.scrollDown{
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scrollDown p{
    border-bottom: 2px solid var(--goldenLine);
}

.scrollDown img{
    margin-top: 40px;
    height: 50px;
}

.bounce {
    animation: bounce 2s infinite;
}
  
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
}

/*------------------SECTION Paid Advertising on All Channels------------------*/

.paidAAC{
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 75%, rgba(0,0,0,1) 100%), url(./img/paidAAC\ background.jpg);
    background-size: cover;
    background-position: center;
    text-align: right;
    color: var(--textWhiteB);
    display: flex;
    flex-direction: column;
}

.paidAACContainer{
    height: 100vh;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    padding-right: 5vw;
}

.paidAACContainer h3{
    font-size: 3rem;
    margin-bottom: 30px;
}

.paidAACContainer p{
    font-size: 1.25rem;
}

/*------------------SECTION Expert Content Production------------------*/

.expertCP{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 100%), url(./img/expertCP-background.jpg);
    background-size: cover;
    background-position: center;
    color: var(--textWhiteB);
    display: flex;
    flex-direction: column;
}

.expertCPContainer{
    height: 100vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
}

.expertCPContainer h3{
    font-size: 3rem;
    margin-bottom: 30px;
}

.expertCPContainer p{
    font-size: 1.25rem;
}

/*------------------SECTION Effective Search Engine Optimization------------------*/

.efectiveSEO{
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 75%, rgba(0,0,0,1) 100%), url(./img/efectiveSEO-background.jpg);
    background-size: cover;
    background-position: center;
    text-align: right;
    color: var(--textWhiteB);
    display: flex;
    flex-direction: column;
}

.efectiveSEOContainer{
    height: 100vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    padding-right: 5vw;
}

.efectiveSEOContainer h3{
    font-size: 3rem;
    margin-bottom: 30px;
}

.efectiveSEOContainer p{
    font-size: 1.25rem;
}
/*------------------SECTION Social Media Marketing------------------*/

.socialMM{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 100%), url(./img/socialMM-background.jpg);
    background-size: cover;
    background-position: center;
    color: var(--textWhiteB);
    display: flex;
    flex-direction: column;
}

.socialMMContainer{
    height: 100vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
}

.socialMMContainer h3{
    font-size: 3rem;
    margin-bottom: 30px;
}

.socialMMContainer p{
    font-size: 1.25rem;
}

/*------------------SUBSECTION Work With Us------------------*/

.workWithUs{
    color: var(--textWhiteB);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.workWithUs h3{
    text-align: center;
    width: 30vw;
    font-size: 2.5rem;
    border-bottom: 2px solid var(--textWhiteB);
    padding-bottom: 20px;

}

.workWithUs p{
    margin: 40px 0px;
    font-size: 1.5rem;
}

button {
    display: inline-block;
    border-radius: 4px;
    background-color: var(--footerColor);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 15px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}


/*----------------------------------------FOOTER----------------------------------------*/
footer{
    border-top: 2px solid var(--goldenLine);
    color: var(--textWhiteB);
    height: 50vh;
    background-color: var(--footerColor);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerContainer{
    display: flex;
    justify-content: space-between;
    padding: 40px  20px;
    width: 85vw;
    border-bottom: 2px solid var(--goldenLine);
}

.footerContainer div{
    flex-grow: 1;
}

.contact{
    display: flex;
}

.logos{
    display: flex;
    flex-direction: column;
}

.logos img{
    height: 5vh;
    margin-top: 2.5vh;
}

.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5vh;
    margin-top: 2.5vh;
}

.information .infoTitle{
    font-size: 1.45rem;
}

.brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.legalInformation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dev{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dev p{
    margin-top: 5px;
    font-size: 1.20rem;
}

.socialMedia{
    display: flex;
    align-items: center;
}

.socialMedia img{
    margin: 0px 15px;
}

.footerEpigraph{
    padding: 40px 10px 20px 10px;
    width: 85vw;
}

@media screen and (max-width: 1482px)  {
    .nameTitle h2{
        font-size: 5rem;
    }

    .whyYouShould h3{
        width: 75vw;
        text-align: center;
        font-size: 2.5rem;
        padding-top: 10vh;
        margin-bottom: 20px;
    }
    
    .whyYouShould p{
        text-align: center;
        font-size: 1rem;
    }

    .footerContainer{
        display: flex;
        justify-content: space-between;
        padding: 20px  20px;
        width: 85vw;
        border-bottom: 2px solid var(--goldenLine);
    }

    .logos img{
        height: 5vh;
        margin-top: 2vh;
    }

    .information .infoTitle{
        font-size: 1rem;
    }

    .footerEpigraph{
        padding: 10px 10px 2px 10px;
        width: 85vw;
    }
}

body::-webkit-scrollbar{
    width: 7px;
    background-color: var(--footerColor);
}

body::-webkit-scrollbar-thumb{
    background-color: var(--goldenLine);
}
